<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
  <h2>Sign up</h2>
  <form action="http://localhost:5000/user_signup", method = "post">
    <div class="form-group col-sm-8">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      <div class = 'add-button' style = "margin:5px">
        <div class="btn btn-primary" onclick="addEmail()">Add</div>
      </div>
    </div>
    <div class="form-group col-sm-8">
      <p>Please Enter the contry code before the number (+917878261136)</p>
      <label for="mobile">Mobile Number:</label>
      <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile Number" name="mobile">
    </div>
    <div class="form-group col-sm-8">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" placeholder="Enter Name" name="name">
    </div>
    <div class="form-group col-sm-8">
      <label for="pwd" >Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div class="col-sm-8">
    <button type="submit" class="btn btn-default">Submit</button>
      <div style= "margin:5px"><a href = "signin">Signin</a></div>
    </div>
  </form>
</div>

</body>
</html>
